.news-post {
    color: $color-dark-gray;
    .poster {
        width: 100%;
    }
    .post-title {
        font-size: 30px;
        line-height: 45px;
        text-transform: capitalize;
    }
    p {
        margin: 30px 0 16px;
    }
    .post-created {
        display: flex;
        align-items: center;
        margin-bottom: 48px;
        img {
            width: 19px;
            height: 19px;
        }
    }
    .btn {
        padding: 20px 31px 17px 30px;
        font-size: 12.4px;
    }
}

@media (max-width: $mobile-breakpoint) {
    .news-post {
        .post-title {
            font-size: 16px;
            margin-top: 32px;
        }
        p {
            margin: 6px 0 24px;
        }
        .btn {
            font-size: 12px;
            padding: 19px 31px;
        }
    }
}
