.subscribe-card {
    border-radius: 1rem;
    padding: 0 1.5rem;
    text-align: center;
    background-size: cover;
    &.bg-free {
        background-image: url(../images/subscribe_1.png);
    }
    &.bg-standart {
        background-image: url(../images/subscribe_2.png);
    }
    &.bg-premium {
        background-image: url(../images/subscribe_3.png);
    }
}