.artist-banner {
    background: url("../images/Morten\ Harket.png") center/cover;
    padding-top: 248px;
    padding-bottom: 201px;
    p {
        margin: 17px 0 48px;
    }
}

@media (max-width: $mobile-breakpoint) {
    .artist-banner {
        padding-top: 225px;
    }
}
