.artist-banner {
    background: url("../images/Morten\ Harket.png") center/cover;
    .subs-count {
        margin: 17px 0 48px;
    }
}

@media (max-width: $mobile-breakpoint) {
    .artist-banner {
        padding-top: 225px;
    }
}
