.footer-links {
    column-gap: 40px;
    row-gap: 16px;
}

.separator {
    background: #fff;
    margin: 71px 0 40px;
}

@media (max-width: $mobile-breakpoint) {
    .separator {
        margin: 68px 0 40px;
    }
}
