footer {
    padding-top: 63px;
    padding-bottom: 33px;
    .footer-links {
        column-gap: 40px;
        row-gap: 31px;
    }
    .block-title {
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
}

.separator {
    background: #fff;
    margin: 71px 0 40px;
}

@media (max-width: $mobile-breakpoint) {
    .separator {
        margin: 68px 0 40px;
    }
}
