footer {
    padding-top: 63px;
    padding-bottom: 33px;
    .block-title {
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
}