.menu {
    font-size: 11px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    & > * {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    li {
        margin-right: 10px;
        margin-left: 10px;
    }
    .logo {
        display: flex;
        align-items: center;
        margin-right: 93px;
    }
    .logo-img {
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }
    ul {
        flex-grow: 1;
    }
    .search-input {
        background: #3c3b3d;
        border-radius: 50px;
        border: none;
        padding: 5px 10px;
        width: 248px;
    }
}
