.main-banner {
    background: url("../images/banner.png") center/cover;
    p {
        margin: 32px 0 17px;
    }
    .subscribe-form {
        max-width: 570px;
        margin: 0 auto;
    }
}

@media (max-width: $mobile-breakpoint) {
    .main-banner {
        p {
            margin: 16px 0 17px;
        }
    } 
}
