#page-app {
    .iphone-img {
        margin-bottom: -7px;
        margin-left: 20px;
    }
}


@media (max-width: $mobile-breakpoint) {
    #page-app {
        .iphone-img {
            margin-left: 0;
        }
    }
}
