/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 38px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: #fff;
  width: 1440px;
  position: relative;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.t-size-2 {
  font-size: 24px;
}

.t-size-3 {
  font-size: 32px;
}

.t-size-4 {
  font-size: 40px;
}

.t-size-5 {
  font-size: 48px;
}

.t-size-6 {
  font-size: 56px;
}

.t-size-7 {
  font-size: 64px;
}

.t-small {
  font-size: 12.8px;
}

.t-upper {
  text-transform: uppercase;
}

.h-gap-50 {
  margin-right: -25px;
  margin-left: -25px;
}
.h-gap-50 > * {
  margin-left: 25px;
  margin-right: 25px;
}

.h-gap-24 {
  margin-right: -12px;
  margin-left: -12px;
}
.h-gap-24 > * {
  margin-left: 12px;
  margin-right: 12px;
}

.h-gap-16 {
  margin-right: -8px;
  margin-left: -8px;
}
.h-gap-16 > * {
  margin-left: 8px;
  margin-right: 8px;
}

.h-gap-15 {
  margin-right: -7.5px;
  margin-left: -7.5px;
}
.h-gap-15 > * {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.h-gap-12 {
  margin-right: -6px;
  margin-left: -6px;
}
.h-gap-12 > * {
  margin-left: 6px;
  margin-right: 6px;
}

.v-gap-64 {
  margin-top: -32px;
  margin-bottom: -32px;
}
.v-gap-64 > * {
  margin-top: 32px;
  margin-bottom: 32px;
}

.v-gap-50 {
  margin-top: -25px;
  margin-bottom: -25px;
}
.v-gap-50 > * {
  margin-top: 25px;
  margin-bottom: 25px;
}

.v-gap-12 {
  margin-top: -6px;
  margin-bottom: -6px;
}
.v-gap-12 > * {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mb-57 {
  margin-bottom: 57px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-25 {
  margin-bottom: 25px;
}

.btn {
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  flex: 1 1;
  padding: 21px 30px;
  text-transform: uppercase;
}
.btn-clear {
  border: 1px solid #fff;
  background: transparent;
}
.btn-green {
  background: #34c176;
}
.btn-purple {
  background: #5328a1;
}
.btn-red {
  background: #95390c;
}
.btn-round {
  border-radius: 2rem;
}

.input-clear {
  border: 2px solid #cacaca;
  box-sizing: border-box;
  border-radius: 3px;
  background: transparent;
  padding: 15px 22px;
  color: inherit;
  font-size: 14px;
  min-width: 270px;
  flex: 1 1;
}

.wrapper {
  padding-right: 120px;
  padding-left: 120px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-200 {
  padding-bottom: 200px;
}

.mr-143 {
  margin-right: 130px;
}

.no-mt {
  margin-top: 0;
}

.no-mb {
  margin-bottom: 0;
}

.maxw-570 {
  max-width: 570px;
}

.maxw-600 {
  max-width: 600px;
}

.text-white {
  color: #fff;
}

.text-orange {
  color: #f89202;
}

.text-center {
  text-align: center;
}

.m-0a {
  margin: 0 auto;
}

.bg-black {
  background: #08020d;
}

.flex-row-eq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-row-eq > * {
  flex: 1 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.j-sb {
  justify-content: space-between;
}

.inline-list > li {
  display: inline-block;
}

.bg-gradient {
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}

.flex {
  display: flex;
}

.menu {
  font-size: 11px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
}
.menu > * {
  margin-top: 8px;
  margin-bottom: 8px;
}
.menu li {
  margin-right: 10px;
  margin-left: 10px;
}
.menu .logo {
  display: flex;
  align-items: center;
  margin-right: 93px;
}
.menu .logo-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.menu ul {
  flex-grow: 1;
}
.menu .search-input {
  background: #3c3b3d;
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
  width: 248px;
}

.banner {
  background: url("../images/banner.png") center/cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.banner p {
  margin: 32px 0 16px;
}

.subscribe-form {
  max-width: 570px;
  margin: 0 auto;
}

.subscr-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 24px;
}
.subscr-cards .card {
  border-radius: 1rem;
  background-size: cover;
  padding: 24px 25px 65px;
  text-align: center;
  min-width: 271px;
  box-sizing: border-box;
  flex: 1 1;
}
.subscr-cards .card.bg-free {
  background-image: url(../images/subscribe_1.png);
}
.subscr-cards .card.bg-standart {
  background-image: url(../images/subscribe_2.png);
}
.subscr-cards .card.bg-premium {
  background-image: url(../images/subscribe_3.png);
}
.subscr-cards .cost {
  margin-top: 216px;
  vertical-align: top;
  line-height: 0.5;
}
.subscr-cards .cost span {
  vertical-align: top;
  margin: 0 7px;
}
.subscr-cards .btn {
  width: 100%;
  margin-top: 56px;
  margin-bottom: 63px;
  padding: 23px 30px;
  font-size: 16px;
}

.posts .post-title {
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}
.posts p {
  margin: 30px 0 24px;
}
.posts .post-created {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.posts .post-created img {
  width: 19px;
  height: 19px;
}

footer {
  padding-top: 63px;
  padding-bottom: 33px;
}
footer .block-title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.separator {
  height: 1px;
  background: #fff;
  margin: 37px 0 40px;
}

.iphone-img {
  margin-bottom: -44px;
}

.download-btn {
  text-transform: none;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 640px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  .subscr-cards .card {
    padding: 15px 25px 66px;
  }

  .wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }

  .full-on-sm > * {
    width: 100% !important;
    flex-basis: 100%;
  }

  .banner {
    padding-top: 248px;
  }
  .banner p {
    margin: revert;
  }

  .posts .post-title {
    font-size: 16px;
    margin-top: 32px;
  }
  .posts p {
    margin: 6px 0 24px;
  }
  .posts .btn {
    font-size: 12px;
    padding: 19px 31px;
  }
}

/*# sourceMappingURL=styles.css.map */
