/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 38px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: #fff;
  width: 1440px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.t-size-2 {
  font-size: 24px;
}

.t-size-3 {
  font-size: 32px;
}

.t-size-4 {
  font-size: 40px;
}

.t-size-5 {
  font-size: 48px;
}

.t-size-6 {
  font-size: 56px;
}

.t-size-7 {
  font-size: 64px;
}

.t-small {
  font-size: 12.8px;
}

.t-upper {
  text-transform: uppercase;
}

.h-gap-50 {
  margin-right: -25px;
  margin-left: -25px;
}
.h-gap-50 > * {
  margin-left: 25px;
  margin-right: 25px;
}

.h-gap-24 {
  margin-right: -12px;
  margin-left: -12px;
}
.h-gap-24 > * {
  margin-left: 12px;
  margin-right: 12px;
}

.h-gap-16 {
  margin-right: -8px;
  margin-left: -8px;
}
.h-gap-16 > * {
  margin-left: 8px;
  margin-right: 8px;
}

.h-gap-15 {
  margin-right: -7.5px;
  margin-left: -7.5px;
}
.h-gap-15 > * {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.v-gap-64 {
  margin-top: -64px;
  margin-bottom: -64px;
}
.v-gap-64 > * {
  margin-top: 64px;
  margin-bottom: 64px;
}

.btn {
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  flex: 1 1;
  padding: 21px 30px;
  text-transform: uppercase;
}
.btn-clear {
  border: 1px solid #fff;
  background: transparent;
}
.btn-green {
  background: #34c176;
}
.btn-purple {
  background: #5328a1;
}
.btn-red {
  background: #95390c;
}
.btn-round {
  border-radius: 2rem;
}

.no-tt {
  text-transform: none;
}

.input-clear {
  border: 2px solid #cacaca;
  box-sizing: border-box;
  border-radius: 3px;
  background: transparent;
  padding: 16px 22px 18px;
  color: inherit;
  font-size: 14px;
  min-width: 270px;
  flex: 1 1;
}

.wrapper {
  padding-right: 120px;
  padding-left: 120px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-200 {
  padding-bottom: 200px;
}

.mr-143 {
  margin-right: 130px;
}

.no-mt {
  margin-top: 0;
}

.no-mb {
  margin-bottom: 0;
}

.maxw-570 {
  max-width: 570px;
}

.maxw-600 {
  max-width: 600px;
}

.text-white {
  color: #fff;
}

.text-orange {
  color: #f89202;
}

.text-center {
  text-align: center;
}

.m-0a {
  margin: 0 auto;
}

.bg-black {
  background: #08020d;
}

.flex-row-eq {
  display: flex;
  flex-direction: row;
}
.flex-row-eq > * {
  flex: 1 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.j-sb {
  justify-content: space-between;
}

.inline-list > li {
  display: inline-block;
}

.bg-gradient {
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}

.menu {
  font-size: 11px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
}
.menu .logo {
  display: flex;
  align-items: center;
}
.menu .logo-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.menu ul {
  list-style: none;
  display: flex;
  flex-grow: 1;
  margin: 0;
}
.menu ul li {
  margin: 0 12px;
}
.menu .search-input {
  background: #3c3b3d;
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
  width: 180px;
}

.banner {
  background: url("../images/banner.png") center/cover;
  padding: 200px 0;
  text-align: center;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 594px;
  margin: 0 auto;
}
.subscribe-form .input-clear {
  margin: 12px;
}
.subscribe-form .btn {
  margin: 12px;
}

.subscr-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
}
.subscr-cards .card {
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  padding: 21px 25px 66px;
  text-align: center;
  min-width: 271px;
  box-sizing: border-box;
  flex: 1 1;
}
.subscr-cards .card.bg-free {
  background-image: url(../images/subscribe_1.png);
}
.subscr-cards .card.bg-standart {
  background-image: url(../images/subscribe_2.png);
}
.subscr-cards .card.bg-premium {
  background-image: url(../images/subscribe_3.png);
}
.subscr-cards .cost {
  margin-top: 200px;
  vertical-align: top;
  line-height: 0.6;
}
.subscr-cards .cost span {
  vertical-align: top;
}
.subscr-cards .btn {
  width: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
}

.posts .post-title {
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}
.posts p {
  margin: 30px 0 24px;
}
.posts .post-created {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.posts .post-created img {
  width: 19px;
  height: 19px;
}

.footer-block .block-title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

footer {
  padding-top: 60px;
  padding-bottom: 48px;
}

.separator {
  height: 1px;
  background: #fff;
  margin: 74px 0 40px;
}

/*# sourceMappingURL=styles.css.map */
