body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: #fff;
  position: relative;
  background: #08020d;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  src: url(../fonts/Roboto-Medium.ttf);
  src: url(../fonts/Roboto-Regular.ttf);
}
h1,
h2,
h3,
h4 {
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 150%;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 38px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.b {
  font-weight: bold;
}

.t-size-2 {
  font-size: 24px;
}

.t-size-3 {
  font-size: 32px;
}

.t-size-4 {
  font-size: 40px;
}

.t-size-5 {
  font-size: 48px;
}

.t-size-6 {
  font-size: 56px;
}

.t-size-7 {
  font-size: 64px;
}

.t-small {
  font-size: 12.8px;
}

.t-upper {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.text-dark-gray {
  color: #cacaca;
}

.text-gray {
  color: #e0e0e0;
}

.text-orange {
  color: #f89202;
}

.text-center {
  text-align: center;
}

.tt-cap {
  text-transform: capitalize;
}

@media (max-width: 640px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 17.5px;
    letter-spacing: 0.3px;
  }

  h3 {
    font-size: 16px;
  }
}
.mb-100 {
  margin-bottom: 100px !important;
}

.ch-mb-100 > * {
  margin-bottom: 100px !important;
}

.mb-64 {
  margin-bottom: 64px !important;
}

.ch-mb-64 > * {
  margin-bottom: 64px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.ch-mb-50 > * {
  margin-bottom: 50px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.ch-mb-30 > * {
  margin-bottom: 30px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.ch-mb-25 > * {
  margin-bottom: 25px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.ch-mb-24 > * {
  margin-bottom: 24px !important;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.ch-mb-18 > * {
  margin-bottom: 18px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.ch-mb-16 > * {
  margin-bottom: 16px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.ch-mb-12 > * {
  margin-bottom: 12px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.ch-mr-24 > * {
  margin-right: 24px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.ch-mr-20 > * {
  margin-right: 20px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.ch-mr-15 > * {
  margin-right: 15px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.ch-mr-16 > * {
  margin-right: 16px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.ch-mr-12 > * {
  margin-right: 12px !important;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.fg-1 {
  flex-grow: 1;
}

.flex-row-eq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-row-eq > * {
  flex: 1 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.row-reverse {
  flex-direction: row-reverse;
}

.j-sb {
  justify-content: space-between;
}

.inline-list > li {
  display: inline-block;
  margin-right: 24px;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.flex {
  display: flex;
}

@media (max-width: 640px) {
  .full-on-sm > * {
    width: 100% !important;
    flex-basis: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.grid {
  display: grid;
}

.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gap-50 {
  grid-gap: 50px;
}

.gap-24 {
  grid-gap: 24px;
}

.col-gap-50 {
  column-gap: 50px;
}

.col-gap-40 {
  column-gap: 40px;
}

.col-gap-24 {
  column-gap: 24px;
}

.row-gap-50 {
  row-gap: 50px;
}

.row-gap-31 {
  row-gap: 31px;
}

.row-gap-24 {
  row-gap: 24px;
}

.row-gap-25 {
  row-gap: 25px;
}

.col-full {
  grid-column: 1/-1;
}

.grid-auto-300 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-auto-200 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-row-reverse {
  direction: rtl;
}
.grid-row-reverse > * {
  direction: initial;
}

@media (max-width: 640px) {
  .cols-sm-1 {
    grid-template-columns: 1fr;
  }

  .col-sm-full {
    grid-column: 1/-1;
  }
}
@media (max-width: 1240px) {
  .cols-md-1 {
    grid-template-columns: 1fr;
  }

  .cols-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .col-md-full {
    grid-column: 1/-1;
  }

  .order-md-1 {
    order: 1;
  }
}
@media (max-width: 640px) {
  .artist-item {
    max-width: 187px;
  }
}
@media (max-width: 640px) {
  .discography-item {
    max-width: 188px;
  }
}
.btn {
  font-family: Roboto, sans-serif;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  padding: 21px 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  justify-content: center;
}
.btn-clear {
  border: 1px solid #fff;
  background: transparent;
}
.btn-green {
  background: #34c176;
}
.btn-purple {
  background: #5328a1;
}
.btn-red {
  background: #95390c;
}
.btn-round {
  border-radius: 2rem;
}
.btn-200 {
  width: 200px;
  justify-content: start;
}
.btn-full {
  width: 100%;
}
.btn-download {
  text-transform: none;
  padding: 20px 42px 19px;
  font-size: 12.6px;
}
.btn img {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.icon:before {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  filter: contrast(0) brightness(2);
}
.icon-play:before {
  content: url(../images/play-button.svg);
}
.icon-heart:before {
  content: url(../images/heart.svg);
}

.input-clear {
  font-family: Roboto, sans-serif;
  border: 2px solid #cacaca;
  box-sizing: border-box;
  border-radius: 3px;
  background: transparent;
  padding: 15px 20px 14px;
  color: inherit;
  font-size: 14px;
  width: 100%;
  flex: 1 1;
}
.input-clear::placeholder {
  color: #fff;
}

.news-post {
  color: #cacaca;
}
.news-post .poster {
  width: 100%;
}
.news-post .post-title {
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}
.news-post p {
  margin: 30px 0 16px;
}
.news-post .post-created {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.news-post .post-created img {
  width: 19px;
  height: 19px;
}
.news-post .btn {
  padding: 20px 31px 17px 30px;
  font-size: 12.4px;
}

@media (max-width: 640px) {
  .news-post .post-title {
    font-size: 16px;
    margin-top: 32px;
  }
  .news-post p {
    margin: 6px 0 12px;
  }
}
.song-item {
  flex: 1 1 calc(50% - 50px);
  display: flex;
  align-items: center;
}
.song-item img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.subscribe-card {
  border-radius: 1rem;
  padding: 24px 24px 65px;
  text-align: center;
  background-size: cover;
}
.subscribe-card.bg-free {
  background-image: url(../images/subscribe_1.png);
}
.subscribe-card.bg-standart {
  background-image: url(../images/subscribe_2.png);
}
.subscribe-card.bg-premium {
  background-image: url(../images/subscribe_3.png);
}
.subscribe-card .cost {
  margin-top: 215px;
  vertical-align: top;
  line-height: 0.5;
}
.subscribe-card .cost span {
  vertical-align: top;
  margin: 0 7px;
}
.subscribe-card .btn {
  width: 100%;
  margin-top: 56px;
  margin-bottom: 63px;
  padding: 23px 30px;
  font-size: 16px;
}

@media (max-width: 640px) {
  .subscribe-card {
    padding: 16px 24px 65px;
  }
}
.artist-banner {
  background: url("../images/Morten Harket.png") center/cover;
  padding-top: 248px;
  padding-bottom: 201px;
}
.artist-banner p {
  margin: 17px 0 48px;
}

@media (max-width: 640px) {
  .artist-banner {
    padding-top: 225px;
  }
}
footer {
  padding-top: 63px;
  padding-bottom: 33px;
}
footer .footer-links {
  column-gap: 40px;
  row-gap: 31px;
}
footer .block-title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.separator {
  background: #fff;
  margin: 71px 0 40px;
}

@media (max-width: 640px) {
  .separator {
    margin: 68px 0 40px;
  }
}
.menu {
  font-size: 11px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
}
.menu > * {
  margin-top: 8px;
  margin-bottom: 8px;
}
.menu .logo {
  display: flex;
  align-items: center;
  margin-right: 93px;
}
.menu .logo-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.menu ul {
  flex-grow: 1;
}
.menu .search-input {
  background: #3c3b3d;
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
  width: 248px;
}

.main-banner {
  background: url("../images/banner.png") center/cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.main-banner p {
  margin: 32px 0 17px;
}
.main-banner .subscribe-form {
  max-width: 570px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .main-banner {
    padding-top: 248px;
  }
  .main-banner p {
    margin: 16px 0 17px;
  }
}
#page-app .iphone-img {
  margin-bottom: -7px;
  margin-left: 20px;
}

@media (max-width: 640px) {
  #page-app .iphone-img {
    margin-left: 0;
  }
}
#page-pricing .subscr-cards {
  padding-top: 48px;
  padding-bottom: 24px;
}

/*# sourceMappingURL=styles.css.map */
