$h-gaps: 50, 24, 16, 15;
$v-gaps: 64;
@mixin h-gap($x) {
    .h-gap-#{$x} {
        margin-right: #{-$x / 2}px;
        margin-left: #{-$x / 2}px;
        & > * {
            margin-left: #{$x / 2}px;
            margin-right: #{$x / 2}px;
        }
    }
}
@mixin v-gap($x) {
    .v-gap-#{$x} {
        margin-top: #{-$x}px;
        margin-bottom: #{-$x}px;
        & > * {
            margin-top: #{$x}px;
            margin-bottom: #{$x}px;
        }
    }
}
@each $gap in $h-gaps {
    @include h-gap($gap);
}
@each $gap in $v-gaps {
    @include v-gap($gap);
}

.btn {
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    flex: 1 1;
    padding: 21px 30px;
    text-transform: uppercase;
    &-clear {
        border: 1px solid #fff;
        background: transparent;
    }
    &-green {
        background: $color-green;
    }
    &-purple {
        background: $color-purple;
    }
    &-red {
        background: $color-red;
    }
    &-round {
        border-radius: 2rem;
    }
}
.no-tt {
    text-transform: none;
}
.input-clear {
    border: 2px solid #cacaca;
    box-sizing: border-box;
    border-radius: 3px;
    background: transparent;
    padding: 16px 22px 18px;
    color: inherit;
    font-size: 14px;
    min-width: 270px;
    flex: 1 1;
}
.wrapper {
    padding-right: 120px;
    padding-left: 120px;
}

.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pt-200 {
    padding-top: 200px;
}
.pb-200 {
    padding-bottom: 200px;
}
.mr-143 {
    margin-right: 130px;
}
.no-mt {
    margin-top: 0;
}
.no-mb {
    margin-bottom: 0;
}
.maxw-570 {
    max-width: 570px;
}
.maxw-600 {
    max-width: 600px;
}

.text-white {
    color: #fff;
}

.text-orange {
    color: $color-orange;
}

.text-center {
    text-align: center;
}

.m-0a {
    margin: 0 auto;
}

.bg-black {
    background: $color-black;
}
.flex-row-eq {
    display: flex;
    flex-direction: row;
    & > * {
        flex: 1 1;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.row-reverse {
    flex-direction: row-reverse;
}

.j-sb {
    justify-content: space-between;
}

.inline-list {
    & > li {
        display: inline-block;
    }
}

.bg-gradient {
    background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}
