body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #fff;
    position: relative;
    // width: 414px;
    // width: 1440px;
    background: $color-black;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1240px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}

@media (max-width: $mobile-breakpoint) {
    .wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }
}
