.m-revert {
    margin: revert;
}
@mixin mb-x($x) {
    .mb-#{$x} {
        margin-bottom: #{$x}px;
    }
    .ch-mb-#{$x} {
        & > * {
            margin-bottom: #{$x}px;
        }
    }
}
@mixin mr-x($x) {
    .mr-#{$x} {
        margin-right: #{$x}px;
    }

    .ch-mr-#{$x} {
        & > * {
            margin-right: #{$x}px;
        }
    }
}
@each $mb in $mbs {
    @include mb-x($mb);
}
@each $mr in $mrs {
    @include mr-x($mr);
}

.mt-24 {
    margin-top: 24px;
}
.mt-15 {
    margin-top: 15px;
}

.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pt-200 {
    padding-top: 200px;
}
.pb-200 {
    padding-bottom: 200px;
}
.pt-250 {
    padding-top: 250px;
}

.pt-3rem {
    padding-top: 3rem;
}
.pb-2rem {
    padding-bottom: 2rem;
}
.fg-1 {
    flex-grow: 1;
}
.flex-row-eq {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & > * {
        flex: 1 1;
    }
}
.d-ib {
    display: inline-block;
}
.flex-wrap {
    flex-wrap: wrap;
}
.wrap-reverse {
    flex-wrap: wrap-reverse;
}
.row-reverse {
    flex-direction: row-reverse;
}

.j-sb {
    justify-content: space-between;
}
.j-c {
    justify-content: center;
}

.inline-list {
    & > li {
        display: inline-block;
    }
}

.bg-gradient {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.flex {
    display: flex;
}

.l-h-1 {
    line-height: 1;
}
.va-sup {
    vertical-align: super;
}

.w-100 {
    width: 100%;
}
.min-w-100 {
    min-width: 100%;
}

.fw-normal {
    font-weight: normal;
}

@media (max-width: $mobile-breakpoint) {
    .full-on-sm {
        & > * {
            width: 100%;
            flex-basis: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .pt-sm-0 {
        padding-top: 0;
    }

    .mr-sm-0 {
        margin-right: 0;
    }
}
