$mobile-breakpoint: 640px;
$color-black: #08020d;
$color-gray: #e0e0e0;
$color-dark-gray: #cacaca;
$color-dark: #3c3b3d;
$color-green: #34c176;
$color-orange: #f89202;
$color-purple: #5328a1;
$color-red: #95390c;
$mbs: 200, 100, 64, 50, 48, 40, 30, 25, 24, 18, 16, 12, 0;
$mrs: 50, 24, 20, 15, 16, 12;
