$mobile-breakpoint: 640px;
$color-black: #08020d;
$color-gray: #e0e0e0;
$color-dark-gray: #cacaca;
$color-dark: #3c3b3d;
$color-green: #34c176;
$color-orange: #f89202;
$color-purple: #5328a1;
$color-red: #95390c;
$h-gaps: 50, 24, 16, 15, 12;
$v-gaps: 64, 50, 25, 24, 12;
$mbs: 57, 50, 30, 25, 18, 16, 12;
