$mobile-breakpoint: 640px;
$color-black: #08020d;
$color-gray: #e0e0e0;
$color-dark-gray: #cacaca;
$color-dark: #3c3b3d;
$color-green: #34c176;
$color-orange: #f89202;
$color-purple: #5328a1;
$color-red: #95390c;
$h-gaps: 50, 24, 16, 15, 12;
$v-gaps: 64, 50, 25, 24, 12;
$mbs: 57, 50, 30, 25, 18, 16, 12;

/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
        url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}
/* roboto-700 - latin_cyrillic */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
        url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-size: 38px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: inherit;
}
.b {
    font-weight: bold;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #fff;
    width: 414px;
    position: relative;
}

* * {
    // outline: 1px solid;
}
img {
    max-width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    // height: fit-content;
    // max-width: -webkit-fill-available;
    // flex-shrink: 0;
}
.t-size-2 {
    font-size: 24px;
}
.t-size-3 {
    font-size: 32px;
}
.t-size-4 {
    font-size: 40px;
}
.t-size-5 {
    font-size: 48px;
}
.t-size-6 {
    font-size: 56px;
}
.t-size-7 {
    font-size: 64px;
}

.t-small {
    font-size: 12.8px;
}
.t-upper {
    text-transform: uppercase;
}
